In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix
import seaborn as sns

In [38]:
data = pd.read_csv("C:\\Users\\black\\Desktop\\PyforDS\\datasets\\wine.csv")

In [122]:
data.head()

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [107]:
data.isnull().sum()

Wine                    0
Alcohol                 0
Malic.acid              0
Ash                     0
Acl                     0
Mg                      0
Phenols                 0
Flavanoids              0
Nonflavanoid.phenols    0
Proanth                 0
Color.int               0
Hue                     0
OD                      0
Proline                 0
dtype: int64

In [40]:
data["Wine"] = data["Wine"].astype('category')

In [101]:
data["Wine"].dtype

CategoricalDtype(categories=[1, 2, 3], ordered=False)

In [112]:
X = data.iloc[:, 1:]
X.head(2)

,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050

In [115]:
Y = data.iloc[:, :1]
Y.head(2)

  Wine
0    1
1    1

In [125]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size =.3, random_state=40)

In [126]:
print(X_train.shape)

(124, 13)

In [127]:
print(X_test.shape)

(54, 13)

In [133]:
clf = LogisticRegression(solver='lbfgs', max_iter = 4000)

In [134]:
clf.fit(X_train, Y_train.values.ravel())

LogisticRegression(max_iter=4000)

In [135]:
print("model score: %.3f" % clf.score(X_test, Y_test))

model score: 0.963

In [136]:
Y_pred = clf.predict(X_test)

In [137]:
confusion_matrix(Y_test, Y_pred)

array([[15,  0,  0],
       [ 0, 20,  0],
       [ 0,  2, 17]], dtype=int64)

In [138]:
accuracy_score(Y_pred, Y_test)

0.9629629629629629