In [ ]:
"""
1. Load the dataset using pandas
2. Extract data fromYearsExperience column is a variable named X
3. Extract data from salary column is a variable named Y
4. Divide the dataset into two parts for training and testing in 66% and 33% proportion
5. Create and train LinearRegression Model on training set
6. Make predictions based on the testing set using the trained model
7. Check the performance by calculating the r2 score of the model
"""

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import seaborn as sns

In [3]:
data = pd.read_csv("C:\\Users\\black\\Desktop\\PyforDS\\datasets\\data.csv")

In [4]:
data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [5]:
X = data[["YearsExperience"]]

In [6]:
X.head()

   YearsExperience
0              1.1
1              1.3
2              1.5
3              2.0
4              2.2

In [8]:
Y = data[["Salary"]]

In [9]:
Y.head()

    Salary
0  39343.0
1  46205.0
2  37731.0
3  43525.0
4  39891.0

In [12]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size =.3, random_state=40)

In [13]:
cont = LinearRegression()

In [14]:
cont.fit(x_train, y_train)

LinearRegression()

In [15]:
print("model score: %.3f" % cont.score(x_test, y_test))

model score: 0.931

In [16]:
y_pred = cont.predict(x_test)

In [17]:
r2 = r2_score(y_pred, y_test)

In [18]:
r2

0.9192779698843494