In [ ]:
"""
1. Load the dataset using pandas
2. Extract data fromOutcome column is a variable named Y
3. Extract data from every column except Outcome column in a variable named X
4. Divide the dataset into two parts for training and testing in 70% and 30% proportion
5. Create and train Na√Øve Bayes Model on training set
6. Make predictions based on the testing set using the trained model
7. Check the performance by calculating the confusion matrix and accuracy score of the model 
"""

In [4]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, confusion_matrix
import seaborn as sns

In [3]:
data = pd.read_csv("C:\\Users\\black\\Desktop\\PyforDS\\datasets\\diabetes.csv")

In [5]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [6]:
data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [7]:
X = data.iloc[:, :8]

In [8]:
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [9]:
Y = data.iloc[:, -1:]

In [10]:
Y.head()

   Outcome
0        1
1        0
2        1
3        0
4        1

In [11]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size =.3, random_state=40)

In [13]:
gnb = GaussianNB()

In [15]:
gnb.fit(x_train, y_train.values.ravel())

GaussianNB()

In [16]:
y_pred = gnb.predict(x_test)

In [17]:
confusion_matrix(y_test, y_pred)

array([[117,  25],
       [ 36,  53]], dtype=int64)

In [18]:
accuracy_score(y_pred, y_test)

0.7359307359307359