In [1]:
import pandas as pd

In [3]:
user = pd.DataFrame({
    "id":[1,2,3,4],
    "name":["a","b","c","d"]
})

In [6]:
qualifications = pd.DataFrame({
    "user_id":[1,2,3,4],
    "qualification":["e","f","g","h"]
})

In [7]:
pd.merge(user, qualifications, left_on="id", right_on="user_id")

   id name  user_id qualification
0   1    a        1             e
1   2    b        2             f
2   3    c        3             g
3   4    d        4             h

In [13]:
df1 = pd.DataFrame({
    "id":[1,2,3,4],
    "name":["a","b","c","d"]
}).set_index("id")

In [14]:
df2 = pd.DataFrame({
    "id":[1,2,3,4],
    "qualification":["a","b","c","d"]
}).set_index("id")

In [15]:
df1.join(df2)

   name qualification
id
1     a             a
2     b             b
3     c             c
4     d             d

In [16]:
df2.join(df1)

   qualification name
id
1              a    a
2              b    b
3              c    c
4              d    d

In [17]:
df1 = pd.DataFrame({
    "id":[0,1,2],
    "name":["a","b","c"]
}).set_index("id")

df2 = pd.DataFrame({
    "id":[3,4,5],
    "name":["d","e","f"]
}).set_index("id")

df3 = pd.DataFrame({
    "id":[6,7,8],
    "name":["g","h","i"]
}).set_index("id")

In [18]:
pd.concat([df1,df2,df3])

   name
id
0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i