In [ ]:
'''
1. Create 1st tuple with values -> (10,20,30), 2nd tuple with values -> (40,50,60).
a. Concatenate the two tuples and store it in “t_combine”
b. Repeat the elements of “t_combine” 3 times
c. Access the 3rd element from “t_combine”
d. Access the first three elements from “t_combine”
e. Access the last three elements from “t_combine”
'''

In [1]:
tup1 = (10,20,30)
tup2 = (40,50,60)

'''
Concatenating tup1 and tup2
'''
t_combine = tup1 + tup2

In [2]:
'''
b. Repeat the elements of “t_combine” 3 times
'''
t_combine*3

(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

In [4]:
'''
c. Access the 3rd element from “t_combine”
'''
t_combine[2]

30

In [6]:
'''
d. Access the first three elements from “t_combine”
'''
t_combine[0:3]

(10, 20, 30)

In [20]:
'''
e. Access the last three elements from “t_combine”
'''
t_combine[-3:]

(40, 50, 60)

In [ ]:
'''
2. Create a list ‘my_list’ with these elements:
a. First element is a tuple with values 1,2,3
b. Second element is a tuple with values “a”,”b”,”c”
c. Third element is a tuple with values True,False
'''

In [21]:
my_list = [(1,2,3), ("a","b", "c"), (True, False)]
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False)]

In [ ]:
'''
3. Append a new tuple – (1,’a’,True) to ‘my_list’
'''

In [24]:
my_list.append((1,"a",True))
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True)]

In [ ]:
'''
a. Append a new list – *“sparta”,123+ to my_list
'''

In [27]:
my_list.append(["sparta",123])
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True), ['sparta', 123]]

In [32]:
'''
4. Create a dictionary ‘fruit’ where:
a. The first key is ‘Fruit’ and the values are (“Apple”,”Banana”,”Mango”,”Guava”)
b. The second key is ‘Cost’ and the values are (85,54,120,70)
'''
fruit = {"Fruit": ("Apple","Banana","Mango","Guava"), "Cost": (85,54,120,70)}
print(fruit)

{'Fruit': ('Apple', 'Banana', 'Mango', 'Guava'), 'Cost': (85, 54, 120, 70)}

In [30]:
'''
c. Extract all the keys from ‘fruit’
'''
fruit.keys()

dict_keys(['Fruit', 'Cost'])

In [31]:
'''
d. Extract all the values from ‘fruit’
'''
fruit.values()

dict_values([('Apple', 'Banana', 'Mango', 'Guava'), (85, 54, 120, 70)])

In [33]:
'''
5. Create a set named ‘my_set’ with values (1,1,”a”,”a”,True,True) and print the result 
'''
my_set = {1,1,"a","a",True,True}
print(my_set)

{1, 'a'}